logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG

spring:
  datasource:
    driverClassName: org.postgresql.Driver
  flyway:
    enabled: true
    locations: "classpath:db/migration"
    baselineOnMigrate: true
  jpa:
    databasePlatform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddlAuto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true
      temp:
        use_jdbc_metadata_defaults: false
